YOUTUBE_API_KEY=AIzaSyB3T8LBQ9pZbUgDTLi74EYYXCcAAb-lxss
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ayushgupta9510@gmail.com
SMTP_PASSWORD=gxqu furk xtyz muhb
TEST_INBOX=ayushgupta9510@gmail.com
DRY_RUN=true
GROQ_API_KEY=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
